@mixin font ($font-size, $line-height, $font-weight){
  font-size: $font-size;
  line-height: $line-height;
  font-weight: $font-weight;
};
$beakpoints:(
  tablet: 768px,
  desktop: 1025px,
);
@mixin screen ($beakpoint){
  @if map-has-key($map: $beakpoints, $key: $beakpoint){
    @media(min-width: map-get($beakpoints, $beakpoint)){
      @content
    }
  }
}