$body: rgba(0, 0, 0, 1);
$nextBody: rgba(15, 15, 15, 1);
$gray: rgba(46, 46, 46, 1);
$subtitle: rgba(157, 255, 58, 1);
$title: rgba(229, 229, 229, 1);
$text: rgba(153, 153, 153, 1);
$border: rgba(77, 77, 77, 1);
$gradient: rgba(179, 179, 179, 1);
$logo: rgba(255, 255, 255, 1);
$article: rgba(255, 255, 255, 0.04);
$footer: rgba(216, 216, 216, 1);