@import "_variables";
@import "_mixins";
@import "_reset";

body {
  font-family: "Alexandria", "Inter", sans-serif;
  background-color: $body;
}

.container {
  padding: 0 20px;
  margin: 0 auto;
  max-width: 1240px;
}

.logo {
  display: flex;
  align-items: center;
  gap: 11px;
  .logo__text {
    @include font(22px, 27px, 500);
    color: $logo;
  }
}
.subtitle {
  @include font(14px, 17px, 400);
  color: $subtitle;
  border: 1px solid $gray;
  border-radius: 24px;
  padding: 11.2px 20px;
  margin: 0 auto 16px;
  max-width: max-content;
}
.header {
  padding: 20px 0;
  .container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  &__menu {
    @media (max-width: 767px) {
      position: fixed;
      inset: 0;
      z-index: 10;
      background-color: $body;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 30px;
      transform: translateX(100%);
      transition: transform 0.3s linear;
    }
  }
  &__nav {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }
  &__link,
  &__login {
    @include font(16px, 20px, 400);
    color: $title;
  }
  &__btn {
    padding: 12px 24px;
    border-radius: 40px;
    background-color: $subtitle;
  }
  &__nav {
    @media (max-width: 767px) {
      display: none;
    }
    flex-direction: row;
    gap: 40px;
  }
  &__actions {
    display: none;
  }
  &__burger {
    display: none;
    @media (max-width: 767px) {
      display: block;
      width: 24px;
      z-index: 20;
      cursor: pointer;
    }
    span {
      display: block;
      width: 18px;
      height: 2px;
      background: rgba(255, 255, 255, 1);
      margin: 3px auto;
      transition: all 0.3s linear;
    }
  }
}

.open {
  overflow: hidden;
  .header__menu {
    transform: translateX(0);
  }
  .header__nav {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .header__burger {
    span:nth-child(1) {
      transform: translateY(5px) rotate(45deg);
    }
    span:nth-child(2) {
      opacity: 0;
    }
    span:nth-child(3) {
      transform: translateY(-5px) rotate(-45deg);
    }
  }
}
.banner {
  padding: 40px 0;
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
    @media (min-width: 768px) {
      flex-direction: row;
      margin: 60px auto;
    }
  }
  &__description {
    margin-bottom: 32px;
    @media (min-width: 768px) {
      align-items: start;
    }
  }
  &__subtitle {
    @include font(14px, 14px, 400);
    position: relative;
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 11.5px 11px;
    border: none;
    z-index: 1;
    // max-width: 137px;
    @media (min-width: 768px) {
      margin: 0 0 24px;
    }
  }
  &__subtitle::before {
    content: "";
    position: absolute;
    inset: -1px;
    border-radius: inherit;
    background: linear-gradient(to left, $border, $gradient);
    z-index: -1;
  }
  &__subtitle::after {
    content: "";
    background-color: $body;
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    border-radius: inherit;
    z-index: -1;
  }
  &__title {
    @include font(40px, 44px, 500);
    color: $title;
    text-align: center;
    margin-bottom: 16px;
    @media (min-width: 768px) {
      @include font(52px, 57.2px, 500);
      text-align: start;
    }
    @media (min-width: 1025px) {
      @include font(62px, 110%, 700);
      margin-bottom: 27px;
    }
  }
  &__text {
    @include font(16px, 20px, 400);
    color: $text;
    text-align: center;
    margin-bottom: 32px;
    @media (min-width: 768px) {
      @include font(18px, 25.2px, 400);
      text-align: start;
    }
    @media (min-width: 1025px) {
      @include font(20px, 28px, 400);
      margin-bottom: 43px;
    }
  }
  &__btn-start {
    @include font(16px, 20px, 400);
    color: $body;
    background-color: $subtitle;
    display: block;
    border: none;
    border-radius: 40px;
    padding: 14px 24px;
    max-width: 140px;
    margin: 0 auto;
    @media (min-width: 768px) {
      margin: 0;
    }
    @media (min-width: 1025px) {
      @include font(18px, 18px, 400);
      max-width: 151px;
    }
  }
  &__img-wrap {
    width: 100%;
    display: flex;
    max-width: 300px;
    aspect-ratio: 1/1;
    margin: 0 auto;
    @media (min-width: 768px) {
      max-width: 400px;
    }
    @media (min-width: 1025px){
      max-width: 512px;
    }
  }
  &__img {
    width: 100%;
    height: auto;
    object-fit: contain;
    max-width: 512px;
  }
}

.brands {
  background-color: $nextBody;
  padding: 40px 0;
  .container {
    padding: 0 36px;
  }
  &__title {
    @include font(16px, 16px, 400);
    color: $text;
    text-align: center;
    margin-bottom: 32px;
    @media (min-width: 1025px){
      margin-bottom: 40px;
    }
  }
  &__wrap {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    column-gap: 20px;
    row-gap: 12px;
    @media (min-width: 1025px) {
      column-gap: 72px;
    }
  }
  &__item{
    display: flex;
    max-width: 97px;
    @media (min-width: 1025px){
      width: 129px;

    }
  }
  &__img{
    width: 100%;
  }
}

.features {
  padding: 40px 0;
  @media (min-width: 768px) {
    padding: 60px 0;
  }
  @media (min-width: 1025px) {
    padding: 80px 0;
  }
  &__subtitle {
    // max-width: 100px;
    padding: 11.2px 19.5px;
    @media (min-width: 1025px) {
      margin-bottom: 20px;
    }
  }
  &__title {
    @include font(28px, 28px, 400);
    color: $title;
    text-align: center;
    margin-bottom: 16px;
    @media (min-width: 768px) {
      @include font(38px, 38px, 400);
    }
    @media (min-width: 1025px) {
      @include font(48px, 48px, 400);
      margin-bottom: 20px;
    }
  }
  &__text {
    @include font(16px, 20px, 400);
    color: $text;
    text-align: center;
    margin: 0 auto 32px;
    max-width: 644px;
    @media (min-width: 768px) {
      @include font(17px, 23.8px, 400);
    }
    @media (min-width: 1025px) {
      @include font(18px, 25.2px, 400);
      margin-bottom: 80px;
    }
  }
  &__wrap {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 16px;
    column-gap: 24px;
  }
  .feature {
    position: relative;
    // display: flex;
    // flex-direction: column;
    // align-items: center;
    padding: 30px 24px;
    background-color: $article;
    border-radius: 12px;
    max-width: 384px;
    // max-width: 100%;
    text-align: center;
    @media (min-width: 1025px) {
      padding: 48px 36px;
    }
    &__img {
      width: 48px;
      height: 48px;
      object-fit: contain;
      margin-bottom: 36px;
    }
    &__title {
      @include font(20px, 28px, 400);
      color: $title;
      font-family: "Inter";
      margin-bottom: 16px;
    }
    &__text {
      @include font(16px, 20px, 400);
      color: $text;
      font-family: "Inter";
      text-align: center;
    }
  }
  .feature::before {
    content: "";
    position: absolute;
    inset: -1px;
    border-radius: inherit;
    z-index: -1;
    background: linear-gradient(to left, $border, $gradient);
  }
  .feature::after {
    content: "";
    background: linear-gradient($article, $article), $body;
    border-radius: inherit;
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
  }
}

.statistics {
  padding: 40px 0;
  background-color: $nextBody;
  @media (min-width: 768px) {
    padding: 80px 0;
  }
  @media (min-width: 1025px) {
    padding: 120px 0;
  }
  &__subtitle {
    // max-width: 104px;
    @media (min-width: 1025px){
      margin-bottom: 20px;
    }
  }
  &__main-title {
    @include font(28px, 28px, 400);
    color: $title;
    text-align: center;
    margin-bottom: 16px;
    @media (min-width: 768px) {
      @include font(38px, 38px, 400);
    }
    @media (min-width: 1025px) {
      @include font(48px, 48px, 400);
      margin-bottom: 20px;
    }
  }
  &__text {
    @include font(14px, 17px, 400);
    color: $text;
    text-align: center;
    margin: 0 auto 32px;
    max-width: 644px;
    @media (min-width: 768px) {
      @include font(17px, 23.8px, 400);
    }
    @media (min-width: 1025px) {
      @include font(18px, 25.2px, 400);
      margin-bottom: 72px;
    }
  }
  &__wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 24px;
    @media (min-width: 768px) {
      flex-direction: row;
      gap: 60px;
    }
    @media (min-width: 1025px) {
      gap: 72px;
    }
  }
  &__title {
    @include font(48px, 48px, 400);
    color: $subtitle;
    text-align: center;
    margin-bottom: 12px;
    @media (min-width: 1025px){
      margin-bottom: 20px;
    }
  }
  &__item:last-child {
    .statistics__title {
      margin-bottom: 19px;
    }
  }
  &__description { //__description
    @include font(20px, 28px, 400);
    color: $text;
    font-family: "Inter";
    text-align: center;
  }
}

.technology {
  padding: 40px 0;
  @media (min-width: 768px) {
    padding: 50px 0;
  }
  @media (min-width: 1025px) {
    padding: 60px 0;
  }
  &__subtitle {
    padding: 12.7px 20px;
    @media (min-width: 768px) {
      @include font(14px, 14px, 400);
    }
    @media (min-width: 1025px) {
      margin-bottom: 20px;
    }
  }
  &__main-title {
    @include font(28px, 28px, 400);
    color: $title;
    text-align: center;
    margin-bottom: 16px;
    @media (min-width: 768px) {
      @include font(38px, 38px, 400);
    }
    @media (min-width: 1025px) {
      @include font(48px, 48px, 400);
      margin-bottom: 20px;
    }
  }
  &__main-text {
    @include font(16px, 22.4px, 400);
    color: $text;
    max-width: 644px;
    text-align: center;
    margin: 0 auto 32px;
    @media (min-width: 768px) {
      @include font(17px, 23.8px, 400);
    }
    @media (min-width: 1025px) {
      @include font(18px, 25.2px, 400);
      margin-bottom: 80px;
    }
  }
  &__wrap {
    display: flex;
    flex-direction: column;
    @media (min-width: 768px) {
      flex-direction: row;
      justify-content: flex-start;
      column-gap: 15px;
    }
    @media (min-width: 1025px){
      gap: 72px;
    }
  }
  &__img-wrap {
    width: 100%;
    display: flex;
    max-width: 300px;
    aspect-ratio: 1/1;
    margin: 0 auto;
    @media (min-width: 768px) {
      
      max-width: 400px;
    }
    @media (min-width: 1025px) {
      margin: 0;
      max-width: 506px;
    }
  }
  &__img {
    width: 100%;
    height: auto;
    object-fit: contain;
    max-width: 506px;
  }
  &__article-wrap {
    display: grid;
    gap: 16px;
    flex: 1 1 52%;
    min-width: 362px;
    max-width: 622px;
    margin-top: 32px;
    @media (min-width: 768px){
      margin-top: 0;
    }
    @media (min-width: 1025px){
      row-gap: 40px;
    }
  }
  &__article {
    position: relative;
    display: grid;
    grid-template-columns: 30px 1fr;
    column-gap: 20px;
    background-color: $nextBody;
    max-width: 622px;
    padding: 24px 20px;
    border-radius: 20px;
    @media (min-width: 1025px) {
      padding: 36px 20px;
    }
  }
  &__svg-wrap{
    width: 100%;
    aspect-ratio: 1/1;
    display: flex;
    img{
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
  &__article::before {
    content: "";
    position: absolute;
    inset: -1px;
    border-radius: inherit;
    background: linear-gradient(to left, $border, $gradient);
    z-index: -1;
  }
  &__article::after {
    content: "";
    position: absolute;
    border-radius: inherit;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: -1;
  }
  &__title {
    @include font(20px, 28px, 400);
    font-family: "Inter";
    text-align: left;
    color: $title;
    margin-bottom: 8px;
  }
  &__text {
    @include font(14px, 17px, 400);
    text-align: left;
    color: $text;
    @media (min-width: 768px) {
      @include font(15px, 15px, 400);
    }
    @media (min-width: 1025px) {
      @include font(16px, 16px, 400);
    }
  }
}

.revolutionary {
  padding: 40px 0;
  background-color: $nextBody;
  @media (min-width: 1025px) {
    padding: 80px 0;
  }
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
  &__subtitle {
    // max-width: 137px;
    line-height: 14px;
    padding: 12.7px 19.5px;
    margin-bottom: 0;
  }
  &__title {
    @include font(28px, 28px, 400);
    color: $title;
    text-align: center;
    max-width: 878px;
    @media (min-width: 768px) {
      @include font(38px, 38px, 400);
    }
    @media (min-width: 1025px) {
      @include font(48px, 48px, 400);
    }
  }
  &__text {
    @include font(16px, 22.4px, 400);
    font-family: "Inter";
    text-align: center;
    color: $text;
    max-width: 644px;
    @media (min-width: 768px) {
      @include font(17px, 23.8px, 400);
    }
    @media (min-width: 1025px) {
      @include font(18px, 25.2px, 400);
    }
  }
  &__btn {
    @include font(18px, 18px, 400);
    background-color: $subtitle;
    color: $body;
    padding: 16px 24px;
    border: none;
    margin: 0 auto;
  }
}

.footer {
  padding: 40px 0 20px;
  @media (min-width: 1025px){
    padding: 120px 0 40px;
  }
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    @media (min-width: 1025px) {
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-start;
    }
  }
  &__logo-wrap {
    margin-bottom: 40px;
    @media (min-width: 1025px){
      margin-bottom: 0;
    }
  }
  &__nav-wrap {
    display: flex;
    flex-direction: column;
    row-gap: 50px;
    margin-bottom: 40px;
    @media (min-width: 768px) {
      flex-direction: row;
      column-gap: 40px;
    }
    @media (min-width: 1025px) {
      column-gap: 198.5px;
    }
  }
  &__nav {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }
  &__title {
    @include font(20px, 28px, 400);
    color: $title;
    margin-bottom: 4px;
    text-align: center;
    @media (min-width: 1025px){
      margin-bottom: 16px;
    }
  }
  &__link {
    @include font(14px, 14px, 400);
    text-align: center;
    color: $text;
    @media (min-width: 1025px){
      text-align: start;
    }
  }
  &__subscribe {
    margin-bottom: 20px;
    width: 100%;
    max-width: 385px;
    margin: 0 auto;
    @media (min-width: 1025px){
      flex: 0 1 385px;
      margin: 0;
    }
  }
  &__subscribe-text {
    @include font(20px, 28px, 400);
    color: $footer;
    font-family: 'Inter';
    text-align: start;
    margin-bottom: 20px;
    @media (min-width: 1025px){
      max-width: 198px;
    }
  }
  &__form {
    display: flex;
    align-items: center;
    gap: 12px;
    border-bottom: 0.5px solid $text;
    padding-bottom: 16px;
    margin: 0 auto;
    width: 100%;
    max-width: 385px;
  }
  &__form:focus-within {
    border-bottom-color: $subtitle;
  }
  &__input {
    flex: 1;
    background: transparent;
    border: none;
    outline: none;
    color: $logo;
  }
  &__input::placeholder {
    @include font(14px, 14px, 400);
  }
  &__bnt {
    width: 40px;
    height: 40px;
    background-color: $subtitle;
    border-radius: 50%;
    border: none;
    text-align: center;
  }
  &__copyright {
    @include font(12px, 12px, 400);
    color: $text;
    text-align: center;
    margin-top: 20px;
    @media (min-width: 1025px){
      margin-top: 55px;
    }
  }
}