@import "_variables";
@import "_mixins";
@import "_reset";

body {
  font-family: "Alexandria", "Inter", sans-serif;
  background-color: $body;
}

.container {
  padding: 0 20px;
  margin: 0 auto;
  max-width: 1240px;
}

.logo {
  display: flex;
  align-items: center;
  gap: 11px;
  span {
    @include font(22px, 27px, 500);
    color: $logo;
  }
}
.subtitle {
  color: $subtitle;
  @include font(14px, 17px, 400);
  border: 1px solid $gray;
  border-radius: 24px;
  padding: 12px 20px;
  margin: 0 auto 16px;
}
.header {
  padding: 20px 0;
  margin-bottom: 40px;
  .container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  &__nav {
    display: none;
  }
  &__actions {
    display: none;
  }
  &__burger {
    display: none;
    @media (max-width: 768px) {
      display: block;
      width: 24px;
      cursor: pointer;
    }
    span {
      display: block;
      width: 18px;
      height: 2px;
      background: rgba(255, 255, 255, 1);
      margin: 3px auto;
      transition: all 0.3s linear;
    }
  }
}
.banner {
  &__subtitle {
    @include font(14px, 14px, 400);
    color: $subtitle;
    position: relative;
    display: flex;
    align-items: center;
    gap: 8px;

    padding: 11.5px 11px;

    border: none;
    z-index: 1;
    border-radius: 24px;
    max-width: 137px;
  }
  &__subtitle::before {
    content: "";
    position: absolute;
    inset: -1px;
    border-radius: inherit;
    background: linear-gradient(to left, $border, $gradient);
    z-index: -1;
  }
  &__subtitle::after{
    content: '';
    background-color: $body;
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    border-radius: inherit;
    z-index: -1;
  }
  &__title {
    @include font(40px, 44px, 500);
    color: $title;
    text-align: center;
    margin-bottom: 16px;
  }
  &__text {
    @include font(16px, 20px, 400);
    color: $text;
    text-align: center;
    margin-bottom: 32px;
  }
  &__buttons {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  &__btn-start {
    @include font(16px, 20px, 400);
    color: $body;
    background-color: $subtitle;
    border: none;
    border-radius: 40px;
    padding: 14px 24px;
    max-width: 140px;
    margin: 0 auto;
  }
  &__btn-video {
    @include font(16px, 20px, 400);
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 6px;
    max-width: 178px;
    width: 100%;
    color: $title;
    background-color: $body;
    border: none;
    border-radius: 40px; 
    padding: 14px 23px;
    margin: 0 auto;
  }
  &__btn-video::before{
    content: '';
    position: absolute;
    inset: -1px;
    border-radius: inherit;
    background: linear-gradient(to left, $border, $gradient);
    z-index: -1;
  }
    // &__btn-video::after{
    //   content: '';
    //   display: block;
    //   position: absolute;
    //   width: 100%;
    //   height: 100%;
    //   left: 0;
    //   top: 0;
    //   z-index: -1;
    //   background-color: $body;
    //   border-radius: inherit;
    // }
  &__img-wrap {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 32px 0 40px;
  }
  &__img {
    aspect-ratio: 1/1;
    width: 82.78%;
  }
}


.brands{
  background-color: $nextBody;
  padding: 40px 0;
  .container{
    padding: 0 36px;
  }
  &__title{
    @include font(16px, 20px, 400);
    color: $text;
    text-align: center;
    margin-bottom: 32px;
  }
  &__wrap{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    column-gap: 20px;
    row-gap: 12px;
  }
}


.features{
  padding: 40px 0;
  &__subtitle{
    max-width: 100px;
    padding: 11.2px 20px;
  }
  &__title{
    @include font(28px, 28px, 400);
    color: $title;
    text-align: center;
    margin-bottom: 16px;
  }
  &__text{
    @include font(16px, 20px, 400);
    color: $text;
    text-align: center;
    margin-bottom: 32px;
  }

  &__wrap{
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
  .feature{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 24px;
    background-color: $article;
    border-radius: 12px;
    &__img{
      margin-bottom: 36px;
    }
    &__title{
      @include font(20px, 28px, 400);
      color: $title;
      font-family: 'Inter';
      margin-bottom: 16px;
    }
    &__text{
      @include font(16px, 20px, 400);
      color: $text;
      font-family: 'Inter';
      text-align: center;
    }
  }
  .feature::before{
    content: '';
    position: absolute;
    inset: -1px;
    border-radius: inherit;
    z-index: -1;
    background: linear-gradient(to left, $border, $gradient);
  }
  .feature::after{
    content: '';
    background-color: $body;
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    border-radius: inherit;
    z-index: -1;
  }
}